= form_for @room, html: { class: "form room" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@room[:name])
  .form-group
    = f.label :body, class: 'control-label'
    .controls
      = f.text_area :body, rows: 20, :class => 'form-control'
    = error_span(@room[:body])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), rooms_path, :class => 'btn btn-default'

- content_for :sidebar do
  %h3 Control
  %ul.nav.nav-list
    %li= link_to t('.new', :default => t("helpers.links.new")), new_room_path
