- model_class = Room
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:body)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @rooms.each do |room|
      %tr
        %td= link_to room.id, room_path(room)
        %td= room.name
        %td= room.body
        %td= room.user_id
        %td=l room.created_at
        %td
          = link_to t('.show', :default => t("helpers.links.show")), room_path(room), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), room_path(room), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

- content_for :sidebar do
  %h3 Control
  %ul.nav.nav-list
    %li= link_to t('.new', :default => t("helpers.links.new")), new_room_path
