- model_class = Room
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%div{'ng-controller' => 'RoomsController'}
  %alert{'ng-repeat' => 'error in room.errors', :type => 'danger'}
    {{error}}
  %form.room{'ng-submit' => 'update()'}
    .form-group
      %label.control-label Name
      .controls
        = text_field_tag 'room[name]', '', 'ng-model' => 'room.name', :class => 'form-control'
    .form-group
      %label.control-label Body
      .controls
        = text_area_tag 'room[body]', '', rows: 20, 'ng-model' => 'room.body', :class => 'form-control'
    = submit_tag 'save', class: 'btn btn-primary'
    = link_to t('.back', :default => t("helpers.links.back")), rooms_path, :class => 'btn btn-default'

- content_for :sidebar do
  %h3 Control
  %ul.nav.nav-list
    %li= link_to t('.new', :default => t("helpers.links.new")), new_room_path
    %hr
    %li= link_to t('.destroy', :default => t("helpers.links.destroy")), room_path(@room), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
